# General
.DS_Store
*.log
*.pyc
*.swp
.svn/

# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# IDE-specific
.idea/
.vscode/

# iOS/macOS
ios/build/
macos/build/
ios/Pods/
macos/Pods/
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_assets/
ios/Flutter/.symlinks/
macos/Flutter/ephemeral/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Android
android/build/
android/.gradle/
android/app/build/
*.apk
*.aab

# Linux
linux/build/

# Windows
windows/build/

# Web
web/build/

# Pub
# It is recommended to commit pubspec.lock to version control.
# For more information, see https://flutter.dev/to/pubspec-lock-file
#
# pubspec.lock

# Podfile.lock
# We recommend committing this file to version control.
# For more information, see https://flutter.dev/to/podfile-lock
#
# /ios/Podfile.lock
# /macos/Podfile.lock